<div class='container' ng-init='icon="glyphicon-time";'>
    <div class='form-group'>
        <label for='name'>Descrição:</label>
        <select class='form-control' class='selectpicker' ng-model='selected' ng-mouseup='icon="glyphicon-flag";'>
            <option ng-repeat='event in events | orderBy: date' 
                    value='{ "id":{{event.id}}, "itens":{{event.itens}} }'>
                {{event.date}} - {{event.name}}
            </option>
        </select>
    </div>
    
    <div class='form-group' ng-model='icon'>
        <button type='button' ng-model='start' class='btn btn-danger btn-lg btn-block glyphicon {{icon}}' ng-click='icon="glyphicon-time"; go();'></button>
    </div>
</div>